div.expand {
  bottom: 0;
  background-color: transparent;
  padding-left: 39.8%;
  font-size: 25px;
}

div.sticky {
  position: sticky;
  top: 0;
}

.col-sm-4 {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}
