.card.wishlist {
  width: 300px;
  margin: 10% 10% 0% 10%;
  height: 47px;
}

div.sticky {
  position: sticky;
  top: 0;
}

div.card-block {
  width: 400px;
  padding: 10%;
}

h4.card-title {
  text-align: center;
}

.list-group {
  font-size: 15px;
}
