.card {
  width: 18rem;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.card-img-top {
  border-radius: 10%;
}

/* .card {
  display: grid;
  grid-template-rows: repeat(10, 35px);
  grid-template-columns: repeat(1, 1fr);
  width: 11rem;
  margin: 5px;
}

.image {
  grid-row: 1 / span 4;
  width: 10rem;
  height: 10rem;
  margin: 5px 30% 0 11%;
  border-radius: 10px;
}

.price {
  grid-row: 5 / span 1;
  text-align: center;
}

.title {
  grid-row: 6 / span 3;

  height: auto;
}

.card-body {
  text-align: left;
  bottom: 5px;
  width: 10rem;
}

.addbtn {
  margin: 10px;
  bottom: 5px;
} */
